* {
    outline: 2px solid red;
}

title, h1 {
    font-size: 50;
    color: red;
    background-color: orange;
    padding: 15;
    border: 15;
    margin: 15;
}

body {
    background-color: green;
}

ol {
    display: inline;
    padding: 20;
    margin: 20;
    font-size: 80;
}

ul {
    display: inline;
    padding: 10;
    font: 50;
    background-color: rgb(6, 88, 17);
    margin: 20;
}